body{
    background-color: #E7DFD5;
    width:  98vw;
    height:  100vh;
}
header{
    background-color:#204051;
    height:14%;
    width:87.4%;
    margin-top: -8%;
    margin-left: 17.4%;
    position: fixed;
}
.logo{
    width: 85px;
    height: 80px;
    border-radius: 100%;
    margin-top: -3px;
    margin-left: 5px;
    box-shadow: 50%;
}
.head{
    font-family: Train One;
    font-size: 22px;
    color:#ffffff;
    margin-top: -5%;
    margin-left: 7.5%;
    text-shadow: 50%;
}
.head1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    color:#84A9AC;
    width: 10%;
    margin-top: -2.7%;
    margin-left: 80%;
    text-shadow: 50%;
    text-align: center;
}
#menu ul{
    list-style-type: none;
}
#menu ul > a{
    text-decoration: none;
}
nav{
    background-color: #84A9AC;
    float:left;
    width:18%;
    height:100%;
    margin-left: -8px;
    margin-top:-8%;
    position: fixed;
    box-shadow: 40%;
    
}
.imgnav{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 20%;
    margin-top: -7%;
}
#barra ul{
    padding-top: 15%;
    margin-left: -5px;
    list-style-type: none;
    padding-bottom: 30%;
}
#barra ul > a > li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    color:#204051;
    text-align: justify;
}
#barra a {
    text-decoration: none;
    padding: 22px;
    display: flex;
}
#option ul{
    list-style-type: none;
    margin: -20px;
    margin-top: 43%;
    display: flex;
}
#option ul > a{
    padding-right: 48%;
}
main{
    width: 82%;
    height: 86%;
    margin: 8% 4%;
}
.searchbar{
    width: 92%;
    border-radius: 15px;
    padding:5px;
    border: #ffffff;
    background-color: #ffffff;
}
.search{
    cursor: pointer;
    margin-top: 4px;
}
.caixa{
    width: 50%;
    height: 5%;
    border-radius: 15px;
    border: #ffffff;
    box-shadow: 40%;
    background-color: #ffffff;
    margin: 0% 20%;
    margin-bottom: 3%;
    display:flex;

}
.select{
    padding: 4px;
    margin: 0% 20%;
    width: 15%;
    font-size: 28px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#3B6978;
    border-color: transparent;
    background-color: transparent;
    box-shadow: 40%;
    margin-bottom: -2%;
}
section{
    background-color: #ffffff;
    width: 1142px;
    height:350px;
    margin: 2% 20%;
    border-radius: 10px;
    box-shadow: 40%;
}
.profile{
    width: 297px;
    height: 288px;
    border-radius: 10px;
    margin:31px 34px;
    box-shadow:inset;
}
.crm{
    margin: 20px 0px;
    color:#204051;
    font-size: 20px;
}
.nome{
    margin: -45px 105%;
    width: 80%;
    color:#204051;
    font-size: 20px;
}
.form{
    margin: 90px 0px;
    color: #3B6978;
    font-size: 20px;
}
.espec{
    margin:-80px 80px;
    color:#204051;
    font-size: 20px;
    width:70%;
}
.espec1{
    margin: 90px 140px;
    color:#204051;
    font-size: 18px;
    width:130%;
}
.button{
    border-color: transparent;
    background-color: transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #3B6978;
    font-weight: bold;
    font-size: 18px;
    margin: 39% 79%;
    width: 18%;
    list-style-type: none;
}
#infor ul{
    list-style-type: none;
    margin: -30% 30%;
}
#infor  a{
    text-decoration: none;
}
#infor ul > li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


