body{
    width: 1024px;
    height: 100% vw;
    padding: 0%;
    margin: 0%;
}
header{
    background: #204051;
    width: 100%;
    height: 60px;
    padding: 0%;
    position: absolute;
}


 ul li{
    list-style-type: none;
    display: table-cell;
}
ul li h1{
    color: white;
    font-size: 20px;
    position: fixed;
    top: 5px;
    left: 100px;
    font-family: train one regular;
}
ul li img{
    position: fixed;
    top: 5px;
}

#logo {
    border-radius: 200px;
    width: 50px;
}


h3{
    color: #3b6978;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin-top: 0%;
    margin-left:120px;
    padding-top:90px;
    padding-left:30px;

}
#ftperfil{
    width: 110px;
    height: 110px;
    margin-top: 60px;
    margin-left: 90px;
    border-radius: 80px;
    position: absolute;

}

#tipo{
    position: absolute;
    justify-content: center;
    margin-top: 160px;
    display: none;
}

label{
    display: block;
    width: 20px;
    background-color: gray;
    color: white;
    padding: 8px;
    padding-left: 15px;
    margin-top: 140px;
    margin-left: 20px;
    margin-left: 160px;
    border-radius: 80px;
    position: absolute;
}

#central{
    background: #3b6978;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: 300;
    width: 80%;
    height: 550px;
    position:absolute; /* deixar centralizado */
    top:55%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}


.maiores{
    width: 640px;
    position: relative;
    text-align: left;
    border-radius: 9px;
    box-shadow: inset 2px 2px 2px gray;
    border: none;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 8px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 10px;
    
}

.atributos{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 50px;
    padding-bottom: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    margin-right: 20px;
    border-radius: 9px;
    box-shadow: inset 2px 2px 2px gray;
    border: none;
}

#textos{
    color:white;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 400px;
    margin-top: 40px;
    margin-bottom: 15px;
    
    
}

button{
    background: #204051;
    border-radius: 8px;
    margin-right: 50%;
    padding-bottom: 5px;
    padding-top: 8px;
    padding-right: 30px;
    padding-left: 30px;
    border: none;
    margin: -300px;
    
    
}

#bt{
    background: none;
    border: none;
    color: #E7DFD5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
}